<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="/static/style.css">
      <a class="nav-item nav-link" href="/">Home</a>
   </head>
   <body>
      {% extends "index.html" %}
      <p>{{ message }}</p>
      {% block body %}
      <h3><br/>
         <div class="p-3 mb-2 bg-success text-white">
          Steps: {{  session['steps']}} </div><br/>
         <div class="p-3 mb-2 bg-primary text-white">
          {{  session.title }}  </div>
      </h3>
      <br /> 
      <div class="p-3 mb-2 bg-warning text-dark">
      <form  action="/move" method = "POST" id="radiobutton">
         <input class="form-check-input" type="radio" type='hidden' name="destination" value="{{session.links[0]}}" checked>
         <label class="form-check-label" for="{{session.links[0]}}">{{session.links[0]}}</label><br> 
         {% for link in session.links[1:] %}
         <input class="form-check-input" type="radio" type='hidden' name="destination" value="{{link}}" >
         <label class="form-check-label" for="{{link}}">{{link}}</label><br> 
         {% endfor %}</div>
         <br /><label for="next">Move to next page:</label>
         <br /><button type="submit" class="btn btn-primary mb-2">GO</button>
      </form>
      
      {% endblock %}
      <p>{{ error }}</p>
   </body>
</html>